.perfil_conteudo {
    margin: 35px 0;
    text-align: center;
    color: var(--cor-terciaria);
}

.perfil_imagem {
    display: block;
    margin: auto;
    width: 96px;
    height: 96px;
    background-image: url(../../assets/317607548_486325630147084_6303932889435280782_n.jpg);
    background-size: cover;
    border-radius: 50%;
}